{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    {#  {% set trans_day_hash = {
    "monday": "Lundi",
    "tuesday": "Mardi",
    "wednesday": "Mercredi",
    "thursday": "Jeudi",
    "friday": "Vendredi",
    "saturday": "Samedi",
    "sunday": "Dimanche"
}
%}
    <h1>Réserver une table</h1>
    <p>{% for day,hours in openhours %}
    <h3>{{ trans_day_hash[day] }}</h3>
    {% if hours != '' %}
        {{ hours }}
    {% else %}
        fermé
    {% endif %}
{% endfor %}  </p>#}
    {{ dump(resslots) }}
    <p>{% for resslot in resslots %}
            <button type="submit" formmethod="post">{{ resslot }}</button>
        {% endfor %}</p>


{% endblock %}
